page-login {
	.content {
		background: $background-login;
	}
	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 180px;
	}
	img {
		width: 60%;
		height: 50%;
	}

	ion-scroll {
		margin: 10px;
	}
}
