<ion-header text-center>
    <ion-navbar color="cabecera">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>DICA - Diagnostico carretero</ion-title>
    </ion-navbar>
    <ion-toolbar text-center color="subheader">
        <ion-title>Registro de levantamiento</ion-title>
        <span style="color: #fff;">Autopista: {{ datosAutopista.nombre }}</span>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="form" (ngSubmit)="submitEvent()">
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label floating for="cuerpo">Cuerpo</ion-label>
                        <ion-select formControlName="cuerpo" id="cuerpo" required>
                            <ion-option *ngFor="let cuerpo of cuerpos" [value]="cuerpo.cuerpo_id">{{cuerpo.descripcion}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <div margin-left [ngClass]="['ng-invalid', 'danger']" *ngIf="cuerpo.invalid && (cuerpo.dirty || cuerpo.touched)">
                        <div *ngIf="cuerpo.errors.required">
                            El cuerpo es requerido.
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label floating for="elemento">Elemento</ion-label>
                        <ion-select formControlName="elemento" id="elemento" required (ionChange)="muestraSubElementos($event)">
                            <ion-option *ngFor="let elemento of elementos" [value]="elemento.elemento_id">{{elemento.descripcion}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <div margin-left [ngClass]="['ng-invalid', 'danger']" *ngIf="elemento.invalid && (elemento.dirty || elemento.touched)">
                        <div *ngIf="elemento.errors.required">
                            El elemento es requerido.
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label floating for="tipoElemento">Tipo de elemento</ion-label>
                        <ion-select formControlName="tipoElemento" id="tipoElemento" required>
                            <ion-option *ngFor="let subelemento of subelementos" [value]="subelemento.subelemento_id">{{subelemento.descripcion_subelemento}}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                    <div margin-left [ngClass]="['ng-invalid', 'danger']" *ngIf="tipoElemento.invalid && (tipoElemento.dirty || tipoElemento.touched)">
                        <div *ngIf="tipoElemento.errors.required">
                            El tipo de elemento es requerido.
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label floating for="condicionFisica">Condición fisica</ion-label>
                        <ion-select formControlName="condicionFisica" id="condicionFisica" required>
                            <ion-option *ngFor="let condicion of condiciones" [value]="condicion.condicion_id">{{condicion.descripcion}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <div margin-left [ngClass]="['ng-invalid', 'danger']" *ngIf="condicionFisica.invalid && (condicionFisica.dirty || condicionFisica.touched)">
                        <div *ngIf="condicionFisica.errors.required">
                            La condición fisica es requerido.
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label floating for="carril">Carril y/o lado</ion-label>
                        <ion-select formControlName="carril" id="carril" required>
                            <ion-option *ngFor="let carril of carriles" [value]="carril.carril_id">{{carril.descripcion}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <div margin-left [ngClass]="['ng-invalid', 'danger']" *ngIf="carril.invalid && (carril.dirty || carril.touched)">
                        <div *ngIf="carril.errors.required">
                            El carril es requerido.
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label floating for="longitudElemento">Longitud del elemento</ion-label>
                        <ion-input id="longitudElemento" type="number" [brmasker]="{mask: '0.00', len:4}" formControlName="longitudElemento" required></ion-input>
                    </ion-item>
                    <div margin-left [ngClass]="['ng-invalid', 'danger']" *ngIf="longitudElemento.invalid && (longitudElemento.dirty || longitudElemento.touched)">
                        <div *ngIf="longitudElemento.errors.required">
                            Longitud del elemento es requerido.
                        </div>
                        <div *ngIf="longitudElemento.errors">
                            El formato de longitud del elemento.
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-5>
                    <ion-item>
                        <ion-label floating for="cadenamientoInicialKm">Cadenamiento inicial km</ion-label>
                        <ion-input id="cadenamientoInicialKm" type="number" [brmasker]="{mask: '000', len:3}" required minLength="3" formControlName="cadenamientoInicialKm"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2 text-center align-self-center>
                    <p><strong>+</strong></p>
                </ion-col>
                <ion-col col-5>
                    <ion-item>
                        <ion-label floating for="cadenamientoInicialm">Cadenamiento inicial m </ion-label>
                        <ion-input id="cadenamientoInicialm" required minLength="3" type="number" [brmasker]="{mask: '000', len:3}" formControlName="cadenamientoInicialm"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row align-items-start>
                <ion-col col-12 align-self-start>
                    <div margin-left [ngClass]="['ng-invalid', 'danger']" *ngIf="cadenamientoInicialKm.invalid && (cadenamientoInicialKm.dirty || cadenamientoInicialKm.touched)">
                        <div *ngIf="cadenamientoInicialKm.errors.required">
                            El cadenamiento inicial (Km) es requerido.
                        </div>
                        <div *ngIf="cadenamientoInicialKm.errors.minlength">
                            El formato del cadenamiento inicial (Km) es incorrecto.
                        </div>
                        <div *ngIf="cadenamientoInicialKm.errors.min">
                            El valor del cadenamiento inicial (Km) debe estar entre {{datosAutopista.cadenamientoInicialKm}} y {{ datosAutopista.cadenamientoFinalKm }}.
                        </div>
                        <div *ngIf="cadenamientoInicialKm.errors.max">
                            El valor del cadenamiento inicial (Km) debe estar entre {{datosAutopista.cadenamientoInicialKm}} y {{ datosAutopista.cadenamientoFinalKm }}.
                        </div>
                    </div>
                    <div margin-left [ngClass]="['ng-invalid', 'danger']" *ngIf="cadenamientoInicialm.invalid && (cadenamientoInicialm.dirty || cadenamientoInicialm.touched)">
                        <div *ngIf="cadenamientoInicialm.errors.required">
                            El cadenamiento inicial (m) es requerido.
                        </div>
                        <div *ngIf="cadenamientoInicialm.errors.minlength">
                            El formato del cadenamiento inicial (m) es incorrecto.
                        </div>
                        <div *ngIf="cadenamientoInicialm.errors.min">
                            El valor minimo del cadenamiento inicial (m) debe ser de {{datosAutopista.cadenamientoInicialm}}.
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-5>
                    <ion-item>
                        <ion-label floating for="cadenamientoFinalKm">Cadenamiento final km</ion-label>
                        <ion-input id="cadenamientoFinalKm" type="number" [brmasker]="{mask: '000', len:3}" required minLength="3" formControlName="cadenamientoFinalKm"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2 text-center align-self-center>
                    <p><strong>+</strong></p>
                </ion-col>
                <ion-col col-5>
                    <ion-item>
                        <ion-label floating for="cadenamientoFinalm">Cadenamiento final m </ion-label>
                        <ion-input required minLength="3" type="number" [brmasker]="{mask: '000', len:3}" formControlName="cadenamientoFinalm"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row align-items-start>
                <ion-col col-12 align-self-start>
                    <div margin-left [ngClass]="['ng-invalid', 'danger']" *ngIf="cadenamientoFinalKm.invalid && (cadenamientoFinalKm.dirty || cadenamientoFinalKm.touched)">
                        <div *ngIf="cadenamientoFinalKm.errors.required">
                            El cadenamiento final (Km) es requerido.
                        </div>
                        <div *ngIf="cadenamientoFinalKm.errors.minlength">
                            El formato del cadenamiento final (Km) es incorrecto.
                        </div>
                        <div *ngIf="cadenamientoFinalKm.errors.min">
                            El valor del cadenamiento final (Km) debe estar entre {{datosAutopista.cadenamientoInicialKm}} y {{ datosAutopista.cadenamientoFinalKm }}.
                        </div>
                        <div *ngIf="cadenamientoFinalKm.errors.max">
                            El valor del cadenamiento final (Km) debe estar entre {{datosAutopista.cadenamientoInicialKm}} y {{ datosAutopista.cadenamientoFinalKm }}.
                        </div>
                    </div>
                    <div margin-left [ngClass]="['ng-invalid', 'danger']" *ngIf="cadenamientoFinalm.invalid && (cadenamientoFinalm.dirty || cadenamientoFinalm.touched)">
                        <div *ngIf="cadenamientoFinalm.errors.required">
                            El cadenamiento final (m) es requerido.
                        </div>
                        <div *ngIf="cadenamientoFinalm.errors.minlength">
                            El formato del cadenamiento final (m) es incorrecto.
                        </div>
                        <div *ngIf="cadenamientoFinalm.errors.max">
                            El valor maximo del cadenamiento final (m) debe ser de {{datosAutopista.cadenamientoFinalm}}.
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-list>
                        <ion-item>
                            <ion-label>Reportar</ion-label>
                            <ion-checkbox formControlName="reportar"></ion-checkbox>
                        </ion-item>
                        <div margin-left [ngClass]="['ng-invalid', 'danger']" *ngIf="reportar.invalid && (reportar.dirty || reportar.touched)">
                            <div *ngIf="reportar.errors.required">
                                El campo reportar es requerido.
                            </div>
                        </div>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-list radio-group formControlName="statusLevantamiento">
                        <ion-item>
                            <ion-label>Reporte inicial</ion-label>
                            <ion-radio value="0"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>En proceso de atención</ion-label>
                            <ion-radio value="1"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>Atendido</ion-label>
                            <ion-radio value="2"></ion-radio>
                        </ion-item>
                        <div margin-left [ngClass]="['ng-invalid', 'danger']" *ngIf="statusLevantamiento.invalid && (statusLevantamiento.dirty || statusLevantamiento.touched)">
                            <div *ngIf="statusLevantamiento.errors.required">
                                El estatus es requerido.
                            </div>
                        </div>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 col-sm-6>
                    <ion-item text-center margin-top>
                        <ion-card (click)="tomaFotoA()">
                            <ion-icon class="imagenA" ios="ios-camera" md="md-camera" *ngIf="!imagenA"></ion-icon>
                            <img [src]="imagenA" *ngIf="imagenA" />
                        </ion-card>
                    </ion-item>
                </ion-col>
                <ion-col col-12 col-sm-6>
                    <ion-item text-center margin-top>
                        <ion-card (click)="tomaFotoB()">
                            <ion-icon class="imagenB" ios="ios-camera" md="md-camera" *ngIf="!imagenB"></ion-icon>
                            <img [src]="imagenB" *ngIf="imagenB" />
                        </ion-card>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item margin-top>
                        <button color="subheader" ion-button full type="submit" [disabled]="form.invalid || imagenA === '' || imagenB === ''">Guardar</button>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
<ion-footer text-center>
    <ion-toolbar color="cabecera" text-wrap>
        <ion-title>
            <small>Copyright © Cal y Mayor y Asociados, S.C. 2018. Todos los derechos reservados.</small></ion-title>
    </ion-toolbar>
</ion-footer>
