page-registro-levantamiento {
    ng-valid[required],
    .ng-valid.required {
        border-left: 5px solid #42A948;
    }

    .ng-invalid:not() {
        border-left: 5px solid #a94442;
    }

    .danger {
        color: #E74C3C;
    }
    .card-background-page {

        ion-card {
            position: relative;
            text-align: center;
        }
        .imagenA {
            margin: 80px 0 80px 0;
            font-size: 4.0em;
        }
        img {
            width: 100%;
        }

        .imagenB {
            margin: 80px 0 80px 0;
            font-size: 4.0em;
        }
    }
}
