<ion-header text-center>
    <ion-navbar color="cabecera">
        <ion-title>DICA - Diagnostico carretero</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-title>Registro de levantamiento</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="form" (ngSubmit)="submitEvent()">
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label floating for="cuerpo">Cuerpo</ion-label>
                        <ion-select formControlName="cuerpo" id="cuerpo" required>
                            <ion-option *ngFor="let cuerpo of cuerpos" [value]="cuerpo.cuerpo_id">{{cuerpo.descripcion}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <div margin-left margin-top *ngIf="formSubmit" [ngClass]="['ng-invalid', 'danger']">
                        <div *ngIf="cuerpo.errors">
                            El cuerpo es requerido.
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label floating for="elemento">Elemento</ion-label>
                        <ion-select formControlName="elemento" id="elemento" required (ionChange)="muestraSubElementos($event)">
                            <ion-option *ngFor="let elemento of elementos" [value]="elemento.elemento_id">{{elemento.descripcion}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <div margin-left margin-top *ngIf="formSubmit" [ngClass]="['ng-invalid', 'danger']">
                        <div *ngIf="elemento.errors">
                            El elemento es requerido.
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label floating for="tipoElemento">Tipo de elemento</ion-label>
                        <ion-select formControlName="tipoElemento" id="tipoElemento" required>
                            <ion-option *ngFor="let subelemento of subelementos" [value]="subelemento.subelemento_id">{{subelemento.descripcion_subelemento}}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                    <div margin-left margin-top *ngIf="formSubmit" [ngClass]="['ng-invalid', 'danger']">
                        <div *ngIf="tipoElemento.errors">
                            El tipo de elemento es requerido.
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label floating for="condicionFisica">Condición fisica</ion-label>
                        <ion-select formControlName="condicionFisica" id="condicionFisica" required>
                            <ion-option *ngFor="let condicion of condiciones" [value]="condicion.condicion_id">{{condicion.descripcion}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <div margin-left margin-top *ngIf="formSubmit" [ngClass]="['ng-invalid', 'danger']">
                        <div *ngIf="condicionFisica.errors">
                            La condición fisica es requerido.
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label floating for="carril">Carril y/o lado</ion-label>
                        <ion-select formControlName="carril" id="carril" required>
                            <ion-option *ngFor="let carril of carriles" [value]="carril.carril_id">{{carril.descripcion}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <div margin-left margin-top *ngIf="formSubmit" [ngClass]="['ng-invalid', 'danger']">
                        <div *ngIf="carril.errors">
                            El carril es requerido.
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label floating for="longitudElemento">Longitud del elemento</ion-label>
                        <ion-input id="longitudElemento" type="number" [brmasker]="{mask: '0.00', len:4}" formControlName="longitudElemento" required></ion-input>
                    </ion-item>
                    <div margin-left margin-top *ngIf="formSubmit" [ngClass]="['ng-invalid', 'danger']">
                        <div *ngIf="longitudElemento.errors">
                            Longitud del elemento es requerido.
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-5>
                    <ion-item>
                        <ion-label floating for="cadenamientoInicialKm">Cadenamiento inicial km</ion-label>
                        <ion-input id="cadenamientoInicialKm" type="number" [brmasker]="{mask: '000', len:3}" required minLength="3" formControlName="cadenamientoInicialKm"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2 text-center align-self-center>
                    <p><strong>+</strong></p>
                </ion-col>
                <ion-col col-5>
                    <ion-item>
                        <ion-label floating for="cadenamientoInicialm">Cadenamiento inicial m </ion-label>
                        <ion-input id="cadenamientoInicialm" required minLength="3" type="number" [brmasker]="{mask: '000', len:3}" formControlName="cadenamientoInicialm"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <div margin-left [ngClass]="['ng-invalid', 'danger']" *ngIf="cadenamientoInicialKm.invalid && (cadenamientoInicialKm.dirty || cadenamientoInicialKm.touched)">
                        <div *ngIf="cadenamientoInicialKm.errors.required">
                            El cadenamiento inicial (Km) es requerido.
                        </div>
                        <div *ngIf="cadenamientoInicialKm.errors.minlength">
                            El formato del cadenamiento inicial (Km) es incorrecto
                        </div>
                    </div>
                    <div margin-left style="margin-top: 10px;" *ngIf="formSubmit" [ngClass]="['ng-invalid', 'danger']">
                        <div *ngIf="errorCadenamientoInicialKm">
                            El cadenamiento inicial (Km) debe ser menor que el cadenamiento final (Km).
                        </div>
                    </div>
                    <div margin-left [ngClass]="['ng-invalid', 'danger']" *ngIf="cadenamientoInicialm.invalid && (cadenamientoInicialm.dirty || cadenamientoInicialm.touched)">
                        <div *ngIf="cadenamientoInicialm.errors.required">
                            El cadenamiento inicial (m) es requerido.
                        </div>
                        <div *ngIf="cadenamientoInicialm.errors.minlength">
                            El formato del cadenamiento inicial (m) es incorrecto
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-5>
                    <ion-item>
                        <ion-label floating for="cadenamientoFinalKm">Cadenamiento final km</ion-label>
                        <ion-input id="cadenamientoFinalKm" type="number" [brmasker]="{mask: '000', len:3}" required minLength="3" formControlName="cadenamientoFinalKm"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2 text-center align-self-center>
                    <p><strong>+</strong></p>
                </ion-col>
                <ion-col col-5>
                    <ion-item>
                        <ion-label floating for="cadenamientoFinalm">Cadenamiento final m </ion-label>
                        <ion-input required minLength="3" type="number" [brmasker]="{mask: '000', len:3}" formControlName="cadenamientoFinalm"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <div margin-left [ngClass]="['ng-invalid', 'danger']" *ngIf="cadenamientoFinalKm.invalid && (cadenamientoFinalKm.dirty || cadenamientoFinalKm.touched)">
                        <div *ngIf="cadenamientoFinalKm.errors.required">
                            El cadenamiento final (Km) es requerido.
                        </div>
                        <div *ngIf="cadenamientoFinalKm.errors.minlength">
                            El formato del cadenamiento final (Km) es incorrecto
                        </div>
                    </div>
                    <div margin-left style="margin-top: 10px;" *ngIf="formSubmit" [ngClass]="['ng-invalid', 'danger']">
                        <div *ngIf="errorCadenamientoFinalKm">
                            El cadenamiento final (Km) debe ser mayor que el cadenamiento inicial (Km).
                        </div>
                    </div>
                    <div margin-left [ngClass]="['ng-invalid', 'danger']" *ngIf="cadenamientoFinalm.invalid && (cadenamientoFinalm.dirty || cadenamientoFinalm.touched)">
                        <div *ngIf="cadenamientoFinalm.errors.required">
                            El cadenamiento final (m) es requerido.
                        </div>
                        <div *ngIf="cadenamientoFinalm.errors.minlength">
                            El formato del cadenamiento final (m) es incorrecto.
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label>Reportar</ion-label>
                        <ion-checkbox checked="false" formControlName="reportar"></ion-checkbox>
                    </ion-item>
                    <div margin-left margin-top *ngIf="formSubmit" [ngClass]="['ng-invalid', 'danger']">
                        <div *ngIf="reportar.errors">
                            El campo reportar es requerido.
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-list radio-group formControlName="statusLevantamiento">
                        <ion-item>
                            <ion-label>Reporte inicial</ion-label>
                            <ion-radio value="1"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>En proceso de atención</ion-label>
                            <ion-radio value="2"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>Atendido</ion-label>
                            <ion-radio value="3"></ion-radio>
                        </ion-item>
                        <div margin-left margin-top *ngIf="formSubmit" [ngClass]="['ng-invalid', 'danger']">
                            <div *ngIf="statusLevantamiento.errors">
                                El estatus es requerido.
                            </div>
                        </div>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item margin-top>
                        <img [src]="base64Image" *ngIf="base64Image" />
                        <button ion-button full (click)="mostrarCamara()">Tomar foto</button>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item margin-top>
                        <button ion-button full type="submit">Guardar</button>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
