<ion-header text-center>
    <ion-navbar color="cabecera">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>DICA - Diagnostico carretero</ion-title>
    </ion-navbar>
    <ion-toolbar text-center color="subheader">
        <ion-title>Levantamientos registrados</ion-title>
        <span style="color: #fff;">Autopista: {{ datosAutopista.nombre }}</span>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-list no-lines [virtualScroll]="levantamientos" [bufferRatio]="3.1" [approxItemHeight]="'300px'">
        <ion-item-sliding [ngClass]="['levantamientos']" *virtualItem="let levantamiento">
            <ion-item>
                <ion-grid>
                    <ion-row text-left justify-content-center>
                        <ion-col col-12>
                            <small>No. de levantamiento:</small>
                            <span>{{ levantamiento.id }}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row text-left>
                        <ion-col col-12>
                            <small>Elemento:</small>
                            <span>{{ levantamiento.elemento }}</span>
                        </ion-col>
                        <ion-col col-12>
                            <small>Estatus:</small>
                            <span *ngIf="levantamiento.estatus === 0">Reporte inicial</span>
                            <span *ngIf="levantamiento.estatus === 1">En proceso de atención</span>
                            <span *ngIf="levantamiento.estatus === 2">Atendido</span>
                        </ion-col>
                    </ion-row>
                    <ion-row text-left>
                        <ion-col col-12>
                            <small>Cadenamiento inicial:</small>
                            <span>{{ levantamiento.cadenamientoInicialKm }} + {{ levantamiento.cadenamientoInicialm }}</span>
                        </ion-col>
                        <ion-col col-12>
                            <small>Cadenamiento final:</small>
                            <span>{{ levantamiento.cadenamientoFinalKm }} + {{ levantamiento.cadenamientoFinalm }}</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item-options>
                <button padding ion-button icon-only color="light" (click)="detalleLevantamiento(levantamiento)">
                    <ion-icon name="information-circle"></ion-icon>
                    <span ion-tex>Ver más</span>
                </button>
                <button padding ion-button icon-only color="danger" (click)="deleteLevantamiento(levantamiento)">
                    <ion-icon name="trash"></ion-icon>
                    <span ion-tex>Eliminar</span>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-footer text-center>
    <ion-toolbar color="cabecera" text-wrap>
        <ion-title>
            <small>Copyright © Cal y Mayor y Asociados, S.C. 2018. Todos los derechos reservados.</small></ion-title>
    </ion-toolbar>
</ion-footer>
