<ion-header text-center>
    <ion-navbar color="cabecera">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>DICA - Diagnostico carretero</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="popover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar text-center color="subheader">
        <ion-title>Levantamientos registrados para sincronizar</ion-title>
        <span style="color: #fff;">Autopista: {{ datosAutopista.nombre }}</span>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-list no-lines [virtualScroll]="levantamientos" [bufferRatio]="3.1" [approxItemHeight]="'300px'">
        <ion-item [ngClass]="['levantamientos']" *virtualItem="let levantamiento">
            <ion-grid>
                <ion-row text-left justify-content-center>
                    <ion-col col-12>
                        <small>No. de levantamiento:</small>
                        <span>{{ levantamiento.id }}</span>
                    </ion-col>
                </ion-row>
                <ion-row text-left>
                    <ion-col col-12>
                        <small>Elemento:</small>
                        <span>{{ levantamiento.elemento }}</span>
                    </ion-col>
                    <ion-col col-12>
                        <small>Estatus:</small>
                        <span *ngIf="levantamiento.estatus === 0">Reporte inicial</span>
                        <span *ngIf="levantamiento.estatus === 1">En proceso de atención</span>
                        <span *ngIf="levantamiento.estatus === 2">Atendido</span>
                    </ion-col>
                </ion-row>
                <ion-row text-left>
                    <ion-col col-12>
                        <small>Cadenamiento inicial:</small>
                        <span>{{ levantamiento.cadenamientoInicialKm }} + {{ levantamiento.cadenamientoInicialm }}</span>
                    </ion-col>
                    <ion-col col-12>
                        <small>Cadenamiento final:</small>
                        <span>{{ levantamiento.cadenamientoFinalKm }} + {{ levantamiento.cadenamientoFinalm }}</span>
                    </ion-col>
                </ion-row>
                <ion-row text-right>
                    <ion-col col-12>
                        <ion-icon no-margin name="cloud-upload"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer text-center>
    <ion-toolbar color="cabecera" text-wrap>
        <ion-title>
            <small>Copyright © Cal y Mayor y Asociados, S.C. 2018. Todos los derechos reservados.</small></ion-title>
    </ion-toolbar>
</ion-footer>
